@model FreelancerCLone.DbModels.User

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.MainRemoved = true;
    ViewBag.RemoveFooter = true;

    bool isMyProfile = ViewBag.isMyprofile;
}
<link href="~/css/profile.css" rel="stylesheet" />

<div id="addDiv"></div>
<div class="profile-container card p-5">
    <aside>
        <div class="sidebar">
            <div class="top"></div>
            <img src="@(string.IsNullOrEmpty(Model.ProfileImagePath)?"/DefaultUser.png":Model.ProfileImagePath)" alt="" />

            <div class="profile">
                <a href="#">@Model.FirstName @Model.LastName</a>
                <small>@Model.ShortDescription</small>
                <hr id="profile">
            </div>
            <div class="view">
                <div class="views">
                    <h6>Overall Rating</h6>
                    <a>@ViewBag.AverageRating /5</a>
                </div>
                <div class="views">
                    <h6>Joined Since</h6>
                    <a href="#">@Model.AddedOn.Year</a>
                </div>
                <hr id="view">
            </div>
        </div>

        <div class="recent_jobs">
            <div class="recent">
                <h6>Recent Projects</h6>
                @if (Model.ProjectBids.Any(x => x.StatusNavigation.Value == "Accepted"))
                {
                    @foreach (var bid in Model.ProjectBids.Where(x => x.StatusNavigation.Value == "Accepted").Take(5))
                    {
                        <div class="one">
                            <i class="fa-solid fa-tarp"></i>
                            <h6>@bid.Project.Title</h6>
                        </div>
                    }
                }
                else
                {
                    <div class="one">
                        <h6>No Projects yet</h6>
                    </div>
                }
            </div>
        </div>
    </aside>

    <!-- ============ Sidebar end here ============= -->

    <main>
        <div class="main_section">
            @if (isMyProfile)
            {
                <a data-toggle="modal" class="btn btn-primary" data-target="#profileModal" onclick="editProfile()">Learn more</a>
            }
            <div class="event">
                <h3>About</h3>
            </div>
            <div class="box">
                <div class="content">
                    <p>@Model.LongDescription</p>
                </div>
            </div>
        </div>
        <div class="media">
            <h3>Personal Projects:</h3>
            <div class="table-responsive">
                <table class="table table-striped table-hover data-table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Public Url</th>
                            <th>Technology</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var pro in Model.FreelancerPersonalProjects)
                        {
                            <tr>
                                <td>@pro.Title</td>
                                <td>
                                    @if (!string.IsNullOrEmpty(pro.PublicUrl))
                                    {
                                        <a href="@pro.PublicUrl" target="_blank">Visit</a>
                                    }
                                    else
                                    {
                                        <span>Not Available</span>
                                    }
                                </td>
                                <td>
                                    @pro.Technology
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <!-- ============ main section end here ============= -->

    <div class="right_side">
        <div class="news">
            <h4>Skills</h4>
        </div>

        @if (Model.UserSkills.Count > 0)
        {
            foreach (var skill in Model.UserSkills)
            {
                <div class="latest_news">
                    <div class="one">
                        <i class="fa-solid fa-circle"></i>
                        <h5>@skill.Skill.SkillName</h5>
                    </div>
                    <div class="two">
                        <small>@skill.Skill.SkillCategory.CategoryName</small>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="latest_news">
                <div class="one">
                    <h5>No Skills yet</h5>
                </div>
            </div>
        }
    </div>

    <!-- ============ Right side end here ============= -->
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function editProfile() {
        $.ajax({
            type: "Get",
            url: "/User/Editprofile",
            success: function (result) {
                $("#addDiv").html(result);
                $("#profileModal").modal('show');
            }
        })
    }

    function previewImage() {
        var fileInput = document.getElementById('profileImage');
        var imagePreview = document.getElementById('profile-img');

        console.log(fileInput.files[0]);
        // Ensure that a file is selected
        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                // Set the src attribute of the image with the data URL of the selected file
                imagePreview.src = e.target.result;
            };
            // Read the selected file as a data URL
            reader.readAsDataURL(fileInput.files[0]);
        }
    }
</script>