@model IEnumerable<FreelancerCLone.DbModels.FreelancerPersonalProject>

@{
    ViewData["Title"] = "Personal Projects";
}

<h1>Personal Projects</h1>

<p>
    <a class="btn btn-primary" asp-action="CreateEditProject">Create New</a>
</p>
<div class="table-responsive">
    <table class="table data-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Technology)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublicUrl)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Technology)
                    </td>
                    <td>
                        @if (item.PublicUrl != null)
                        {
                            <a href="@item.PublicUrl" target="_blank">Visit</a>
                        }
                        else
                        {
                            <span>Not Available</span>
                        }
                    </td>
                    <td>
                        <a class="btn btn-secondary" asp-action="CreateEditProject" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-info" asp-action="ProjectDetails" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-danger" asp-action="DeleteUserpersonalProjects" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
