@model IEnumerable<FreelancerCLone.DbModels.ProjectBid>

@{
    ViewData["Title"] = "Assigned Projects";
}

<h1>Assigned Projects</h1>
<div class="table-responsive">
    <table class="table data-table">
        <thead>
            <tr>
                <th>
                    Project Title
                </th>
                <th>
                    Status
                </th>
                <th>
                    Bid Amount
                </th>
                <th>
                    Deadline
                </th>
                <th>
                    Rating
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Project.Title
                    </td>
                    <td>
                        @item.StatusNavigation.Value
                    </td>
                    <td>
                        @item.BidBudget
                    </td>
                    <td>
                        @item.BidDeadline
                    </td>
                    @if (item.IsReviewed == false)
                    {
                        <td>
                            Not Reviewed Yet
                            @if (item.IsCompleted == false)
                            {
                                <a asp-action="ChangeProjectCompleteness" asp-route-id="@item.Id">Mark as Completed</a>
                            }
                            else
                            {
                                <a asp-action="ChangeProjectCompleteness" asp-route-id="@item.Id">Mark as Un-Completed</a>
                            }
                        </td>
                    }
                    else
                    {
                        @if (item.Rating == null)
                        {
                            <td>Not Rated Yet</td>
                        }
                        else
                        {
                            <td>@item.Rating</td>
                        }
                    }
                    <td>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ProjectId">Details</a>
                        @if (item.StatusNavigation.Value != "Accepted")
                        {
                            <a class="btn btn-danger" asp-action="DeleteBid" asp-route-id="@item.Id">Delete</a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>