@model IEnumerable<FreelancerCLone.ViewModels.ProjectViewModel>

@{
    ViewData["Title"] = "Projects";
}

<style>
    .search-input {
        width: 100%;
        display: flex;
        padding: 15px;
        background-color: white;
        border: 1px solid black;
        color: #111;
        font-size: 15px;
        /* box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62); */
        height: 40px;
        letter-spacing: 2px;
        border-radius: 10px;
    }
</style>

<h1>Projects For you</h1>

<div>
    <form class="form-inline d-flex justify-content-end justify-content-lg-end" asp-action="Index" asp-controller="Project">
        <div class="search-box mx-3">
            <input required name="query" type="text" style="color: black" class="search-input" placeholder="Search for Jobs...">
        </div>
        <button type="submit" class="btn-get-started btn btn-primary">Search</button>
    </form>
</div>


<div class="row">
    @foreach (var item in Model)
    {
        @if (item.ProjectBids.Any(x => x.StatusNavigation.Value == "Accepted"))
        {
            continue;
        }
        <a class="col-md-6 card p-3 m-2" asp-action="Details" asp-route-id="@item.Id">
            <div>
                <div class="row">
                    <div class="col-2">
                        <img height="40" width="40" style="border-radius: 50%;" src="@(string.IsNullOrEmpty(item.AddedByNavigation.ProfileImagePath)?"/DefaultUser.png":item.AddedByNavigation.ProfileImagePath)" alt="" />
                    </div>
                    <div class="col-10">
                        <h3>Client: @item.AddedByNavigation.FirstName @item.AddedByNavigation.LastName</h3>
                        <h5>Title: @item.Title</h5>
                    </div>
                </div>
                <div>
                    @Html.Raw(item.Description)
                </div>
            </div>
        </a>

    }

</div>