@model IEnumerable<FreelancerCLone.ViewModels.ProjectViewModel>

@{
    ViewData["Title"] = "Projects";
}

<style>
    .search-input {
        width: 100%;
        display: flex;
        padding: 15px;
        background-color: white;
        border: 1px solid black;
        color: #111;
        font-size: 15px;
        /* box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62); */
        height: 40px;
        letter-spacing: 2px;
        border-radius: 10px;
    }
</style>

<h1>Projects For you</h1>

<div>
    <form class="form-inline d-flex justify-content-end justify-content-lg-end" asp-action="Index" asp-controller="Project">
        <div class="search-box mx-3">
            @* <button class="btn-search"><i class="fas fa-search" style="color: black"></i></button> *@
            <input required name="query" type="text" style="color: black" class="search-input" placeholder="Search for Jobs...">
        </div>
        <button type="submit" class="btn-get-started btn btn-primary">Search</button>
    </form>
</div>

<div class="table-responsive">
    <table class="table data-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Budget)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deadline)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TechnologyRequired)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddedOn)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Budget)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Deadline)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TechnologyRequired)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddedOn)
                    </td>
                    <td>
                        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>